<% @topics.each do |topic| %>

  <div class="topic-item" id="topic-<%= topic.id %>">
    <div class="row">
      <div class="large-9 columns">
        <span class="header">
          <strong><%= topic.topic %></strong> <em class="subheader"> by <%= topic.owner.name %></em>
        </span>
      </div>

      <div class="large-3 columns button-bar">
        <ul class="button-group radius">
          <li><%= link_to "Upvote", up_vote_topic_path(topic), class: "label button success" %></li>
          <li><%= link_to "Downvote", down_vote_topic_path(topic), class: "label button alert" %></li>
        </ul>
        <span class="score text-right">
          <small> score: <%= topic.score %> </small>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <p class="text-justify">
          <%= topic.content %>
        </p>
      </div>
    </div>
  </div>

<% end %>
